body {
    width: 100%;
    height: 100%;
}

.chat-content {
    height: 350px;
    overflow-y: scroll;
    background: #8798ac;
}

.line {
    margin-top: 10px;
    display: flex;
}

.chat-box {
    background: #eee;
    padding: 5px;
    max-width: 200px;
}

.mine {
    margin-left: auto;
}

.sending {
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sendin {
    width: 100%;
}

#send {
    border-width: 0.4px;
    background-color: var(--yellow);
    cursor: pointer;
}